body {
  font-family: 'Caudex';
  margin: 0;
}

h2 {
  font-size: 28px;
  letter-spacing: 0.9px;
  line-height: 40px;
  font-weight: 500;
}

strong {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-transform: none;
  color: #4e4e4e;
}

p {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 26px;
  text-transform: none;
  color: #666666;
}

li {
  padding: 0.75em 0;
  font-weight: bold;
}

video { 
  width: 100%;
  object-fit: cover;
}